.mo_oauth_pro_icon1 {
 /* height: 130%;
 width: 130%;
 max-width: 130%;     */
 max-width: 150%;
 width: 110%;
 height: auto;
}
.shortened-image {
 width: 33px;
 height: auto;
}

.mo_oauth_client_how_to_setup {
 font-size: 0.9em !important;
 float: right;
 margin-right: 3%;
}

.mo_pro_tooltip {
 visibility: hidden;
 background-color: #e0e0e0;
 border: groove;
 color: black;
 font-size: 84%;
 text-align: center;
 border-radius: 6px;
 padding: 4px;
 z-index: 1;
}

span.mo_oauth_pro_icon_tooltip{
  background: white;
  border: 2px solid white;
}

.mo_oauth_pro_icon1:hover+.mo_pro_tooltip {
 visibility: visible;
 opacity: 1;
}

.shortened-image:hover+.mo_pro_tooltip {
 visibility: visible;
 opacity: 1;
}
.mo_oauth_btn_restart_tour {
 float: right;
 margin-top: 1em;
}

.mo_oauth_btn {
 display: inline-block;
 padding: 4px 22px;
 margin-bottom: 0;
 font-size: 14px;
 font-weight: 400;
 line-height: 1.42857143;
 text-align: center;
 white-space: nowrap;
 vertical-align: middle;
 -ms-touch-action: manipulation;
 touch-action: manipulation;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 background-image: none;
 border: 1px solid transparent;
 border-radius: 4px;
 text-decoration: none
}

.mo_oauth_btn:focus,
.mo_oauth_btn:active:focus,
.mo_oauth_btn.active:focus,
.mo_oauth_btn.focus,
.mo_oauth_btn:active.focus,
.mo_oauth_btn.active.focus {
 outline: thin dotted;
 outline: 5px auto -webkit-focus-ring-color;
 outline-offset: -2px
}

.mo_oauth_btn:hover,
.mo_oauth_btn:focus,
.mo_oauth_btn.focus {
 text-decoration: none
}

.mo_oauth_btn:active,
.mo_oauth_btn.active {
 background-image: none;
 outline: 0;
 -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
 box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.mo_oauth_btn.disabled,
.mo_oauth_btn[disabled],
fieldset[disabled] .mo_oauth_btn {
 pointer-events: none;
 cursor: not-allowed;
 filter: alpha(opacity=65);
 -webkit-box-shadow: none;
 box-shadow: none;
 opacity: .65
}

.mo_oauth_btn-default {
 color: #333;
 background-color: #fff;
 border-color: #ccc
}

.mo_oauth_btn-default:hover,
.mo_oauth_btn-default:focus,
.mo_oauth_btn-default.focus,
.mo_oauth_btn-default:active,
.mo_oauth_btn-default.active,
.open>.dropdown-toggle.mo_oauth_btn-default {
 color: #333;
 background-color: #e6e6e6;
 border-color: #adadad
}

.mo_oauth_btn-default:active,
.mo_oauth_btn-default.active,
.open>.dropdown-toggle.mo_oauth_btn-default {
 background-image: none
}

.mo_oauth_btn-default.disabled,
.mo_oauth_btn-default[disabled],
fieldset[disabled] .mo_oauth_btn-default,
.mo_oauth_btn-default.disabled:hover,
.mo_oauth_btn-default[disabled]:hover,
fieldset[disabled] .mo_oauth_btn-default:hover,
.mo_oauth_btn-default.disabled:focus,
.mo_oauth_btn-default[disabled]:focus,
fieldset[disabled] .mo_oauth_btn-default:focus,
.mo_oauth_btn-default.disabled.focus,
.mo_oauth_btn-default[disabled].focus,
fieldset[disabled] .mo_oauth_btn-default.focus,
.mo_oauth_btn-default.disabled:active,
.mo_oauth_btn-default[disabled]:active,
fieldset[disabled] .mo_oauth_btn-default:active,
.mo_oauth_btn-default.disabled.active,
.mo_oauth_btn-default[disabled].active,
fieldset[disabled] .mo_oauth_btn-default.active {
 background-color: #fff;
 border-color: #ccc
}

.mo_oauth_btn-default .badge {
 color: #fff;
 background-color: #333
}

.mo_oauth_btn-primary {
 color: #fff;
 background-color: #337ab7;
 border-color: #2e6da4
}

.mo_oauth_btn-primary:hover,
.mo_oauth_btn-primary:focus,
.mo_oauth_btn-primary.focus,
.mo_oauth_btn-primary:active,
.mo_oauth_btn-primary.active,
.open>.dropdown-toggle.mo_oauth_btn-primary {
 color: #fff;
 background-color: #286090;
 border-color: #204d74
}

.mo_oauth_btn-primary-color:hover,
.mo_oauth_btn-primary-color:focus,
.mo_oauth_btn-primary-color.focus,
.mo_oauth_btn-primary-color:active,
.mo_oauth_btn-primary-color.active,
.open>.dropdown-toggle.mo_oauth_btn-primary-color {
 color: #fff;
 background-color: #238320;
 border-color: #238320;
}

.mo_oauth_btn-primary:active,
.mo_oauth_btn-primary.active,
.open>.dropdown-toggle.mo_oauth_btn-primary {
 background-image: none
}

.mo_oauth_btn-primary.disabled,
.mo_oauth_btn-primary[disabled],
fieldset[disabled] .mo_oauth_btn-primary,
.mo_oauth_btn-primary.disabled:hover,
.mo_oauth_btn-primary[disabled]:hover,
fieldset[disabled] .mo_oauth_btn-primary:hover,
.mo_oauth_btn-primary.disabled:focus,
.mo_oauth_btn-primary[disabled]:focus,
fieldset[disabled] .mo_oauth_btn-primary:focus,
.mo_oauth_btn-primary.disabled.focus,
.mo_oauth_btn-primary[disabled].focus,
fieldset[disabled] .mo_oauth_btn-primary.focus,
.mo_oauth_btn-primary.disabled:active,
.mo_oauth_btn-primary[disabled]:active,
fieldset[disabled] .mo_oauth_btn-primary:active,
.mo_oauth_btn-primary.disabled.active,
.mo_oauth_btn-primary[disabled].active,
fieldset[disabled] .mo_oauth_btn-primary.active {
 background-color: #337ab7;
 border-color: #2e6da4
}

.mo_oauth_btn-primary .badge {
 color: #337ab7;
 background-color: #fff
}

.mo_oauth_btn-success {
 color: #fff;
 background-color: #5cb85c;
 border-color: #4cae4c
}

.mo_oauth_btn-success:hover,
.mo_oauth_btn-success:focus,
.mo_oauth_btn-success.focus,
.mo_oauth_btn-success:active,
.mo_oauth_btn-success.active,
.open>.dropdown-toggle.mo_oauth_btn-success {
 color: #fff;
 background-color: #449d44;
 border-color: #398439
}

.mo_oauth_btn-success:active,
.mo_oauth_btn-success.active,
.open>.dropdown-toggle.mo_oauth_btn-success {
 background-image: none
}

.mo_oauth_btn-success.disabled,
.mo_oauth_btn-success[disabled],
fieldset[disabled] .mo_oauth_btn-success,
.mo_oauth_btn-success.disabled:hover,
.mo_oauth_btn-success[disabled]:hover,
fieldset[disabled] .mo_oauth_btn-success:hover,
.mo_oauth_btn-success.disabled:focus,
.mo_oauth_btn-success[disabled]:focus,
fieldset[disabled] .mo_oauth_btn-success:focus,
.mo_oauth_btn-success.disabled.focus,
.mo_oauth_btn-success[disabled].focus,
fieldset[disabled] .mo_oauth_btn-success.focus,
.mo_oauth_btn-success.disabled:active,
.mo_oauth_btn-success[disabled]:active,
fieldset[disabled] .mo_oauth_btn-success:active,
.mo_oauth_btn-success.disabled.active,
.mo_oauth_btn-success[disabled].active,
fieldset[disabled] .mo_oauth_btn-success.active {
 background-color: #5cb85c;
 border-color: #4cae4c
}


/* FAQ button and Ask question on forum button*/

.mo_oauth_client_text_center {
 text-align: center;
}

.mo_oauth_attr_mapping_select_element {
 margin-left: 6%;
}

/* Login tab */
.orange {
 color: orange;
}

.login_form {
 padding-left: 30px;
}

/**config OAuth Add new provider tab*/
.mo_oauth_container_center {
 padding: 25px;
 border-radius: 4px !important;
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 margin-left: auto;
 margin-right: auto;
 float: none;
}

table.tableborder td {
 text-align: center;
}

table.tableborder th {
 text-align: center;
}

.mo_note_css {
 color: red;
}

a.add_new_provider {
 float: right;
 margin-top: -67px;
}

.client_cred label:after {
 content: "";
 display: none;
}

.oauth_config_buttons {
 text-align: center;
}

table.configtable {
  margin-bottom: 0px;
  margin-top: 0px;
}
table.configtable td > .form-item > .form-element{
  width: 85%;
  min-width: 60%;
}

table.configtable2 td > .form-item > .form-element{
  width: 60%;
}

table.configtable3 td > .form-item > .form-element{
  width: 80%;
}

table.configtable3 td:nth-child(1) {
  width: 35% !important;
}

table.configtable2 td:nth-child(1) {
  width: 29% !important;
}

table.configtable4 td:nth-child(1) {
  width: 33% !important;
}

.mo_oauth_highlight_background_callback{
 background-color: #e7e7e7;
 border-radius: 0.3em;
 padding: 1%;
 width: fit-content;
}

.mo-table_app1{
  margin-left: 70px;
}

/*copy button tooltip*/

.callback_tooltip {
  position: relative;
  display: inline-block;
 }

 .callback_tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
 }

 .callback_tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
 }

 .callback_tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
 }


/*Font Loded*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

.container {
  width: 100%;
}

#pricing-table {
  padding-top: 30px;
}

#pricing-table li {
  height: 60px;
  color: black;
  text-align: center;
  overflow: hidden;
}

.class_inline {
  width: 18%;
  display: inline-block;
}

.class_inline_1 {
  width: 24%;
  display: inline-block;
}

#pricing-table .pricing {
  margin: 0;
  padding: 0;
  font-family: 'Robot', sans-serif;
}

#pricing-table .pricing .pricing-table {
  padding-bottom: 15px;
}

#pricing-table .pricing .pricing-table .pricing-header {
  position: relative;
  background: #34495e;
  padding: 4px 9px;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}

#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  text-align: center;
}

#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
  font-size: 24px;
  position: relative;
  top: -30px;
  color: #bdc3c7;
}

#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
  font-size: 16px;
  color: #bdc3c7;
  text-transform: uppercase;
}

#pricing-table .pricing .pricing-list {
  padding: 0 0 0 0;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}

#pricing-table .pricing .pricing-list ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
}

#pricing-table .pricing .pricing-list ul li {
  list-style: none;
  border-bottom: 1px solid #EAECEB;
  color: black;
  font-size: 16px;
  line-height: 42px;
}

#pricing-table .pricing .pricing-list ul li:last-child {
  border: none;
}

#pricing-table .pricing .pricing-list ul li i {
  margin-right: 12px;
  color: #bdc3c7;
}

#pricing-table .pricing .pricing-list ul li span {
  color: #34495e;
}

.upgrade_step {
  width: 100%;
  height: 50px;
  margin: 5%;
  padding-right: 5%;
}

.upgrade_step {
  width: 100%;
  height: 50px;
  margin: 5%;
  padding-right: 5%;
}

#pricing-header {
  text-align: center;
}

#contact {
  text-align: center;
  margin-bottom: 4em;
}

.sup_price {
  font-size: 2rem;
  text-align: center;
}

.card-body {
  height: 70%;
}

.plan_cards_main {
  text-align: center;
  margin: auto;
}

.plan_cards_inner_divs {
  margin: auto;
}

.mo-card-footer {
  background-color: black !important;
  color: white;
  margin: 0 !important;
  padding: 1.4em 0!important;
}

.card_module_description {
  height: 30px;
}

.feature_comparison {
  text-align: center;
  margin-top: 4% !important;
}

.payment_method_inner_divs {
  border-radius: 0px 50px 0px 50px;
  margin: auto;
  text-align: center;
  padding: 2%;
}

.payment_method_main_divs {
  padding: 2%;
  margin: auto!important;
}

.mo-price-hover:hover {
  background: linear-gradient(to bottom, rgb(137 229 170 / 40%), rgb(255 255 255 / 18%));
  color: black;
}

.mo-price-hover {
  background: linear-gradient(to top, rgb(21 147 186 / 28%), rgb(255 255 255 / 18%));
}

.instance {
  margin-top: 60px !important;
  margin-bottom: 10px !important;
  padding-left: 10px !important;
  margin: auto;
  border-radius: 0px 50px 0px 50px;
  border-left: 5px solid brown;
  border-bottom-left-radius: 5em;
  border-right: 5px solid brown;
  border-top-right-radius: 5em;
}

.steps_upgrade_premium {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border-radius: 0px 50px 0px 50px;
  border-left: 5px solid brown;
  border-bottom-left-radius: 5em;
  border-right: 5px solid brown;
  border-top-right-radius: 5em;
}

.payment_img {
  width: 30% !important;
  height: 30% !important;
}

.pricing-card-head {
  height: 10px !important;
  font-size: 2.1em;
  text-align: center;
  padding-top: 0.5em !important;
}

.last_section {
  margin-top: 20px !important;
}

#faq-heading {
  text-align: center;
  margin: auto;
}

#request-quote-heading {
  text-align: center;
  margin-bottom: 20px;
}

.faq {
  margin: 5%;
  padding: 5% !important;
}

.collapse,
.collapsing {
  margin-left: 5%;
  margin-right: 5% !important;
}

.nav-link {
  font-size: 1rem;
}

.instance_dropdown {
  display: inline-flex;
!important;
}

.upgrade_steps_wise {
  color: #e67e22;
  border: 2px solid #e67e22;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 10px;
  float: left;
  font-size: 20px;
  margin-right: 25px;
  margin-bottom: 27px;
}

.payment_method_inner_divs:hover {
  transform: scale(1.2);
}

#request_Quote {
  margin-top: 10px;
  padding: 2em;
  justify-content: center;
  border-radius: 0px 50px 0px 50px;
  border-left: 5px solid brown;
  border-bottom-left-radius: 5em;
  border-right: 5px solid brown;
  border-top-right-radius: 5em;
}

#request-quote-checkbox {
  display: inline-block;
}

#request-quote-heading_instance {
  width: 100% !important;
}

.accordion-item {
  margin: auto;
}

#feature_head {
  background-color: #E97D68 !important;
  color: white;
}

.container {
  padding: 15px;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(230, 225, 230, 1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(230, 225, 230, 1);
  box-shadow: 0px 0px 9px 0px rgba(230, 225, 230, 1);
}

#premium_video {
  margin-left: 15em;
}

#feature_button {
  padding: 0.5%;
  cursor: pointer;
  margin: 1% 38%;
  background-color: black;
  color: #fff;
  box-shadow: 0 2px 40px 0 rgb(205 205 205 / 55%);
}

.topnav {
  overflow: hidden;
  background-color: #333;
  padding-left: 5%;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 35px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 1%!important;
}

.active,
.collapsible:hover {
  background-color: white;
  border: 2px solid #C2DBFE;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: aliceblue;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem
}

.card>hr {
  margin-right: 0;
  margin-left: 0
}

.card>.list-group {
  border-top: inherit;
  border-bottom: inherit
}

.card>.list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px)
}

.card>.list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(.25rem - 1px);
  border-bottom-left-radius: calc(.25rem - 1px)
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
  border-top: 0
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem
}

.card-title {
  margin-bottom: .5rem
}

.card-subtitle {
  margin-top: -.25rem;
  margin-bottom: 0
}

.card-text:last-child {
  margin-bottom: 0
}

.card-link+.card-link {
  margin-left: 1rem
}

.card-header {
  padding: .5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-footer {
  padding: .5rem 1rem;
  background-color: rgba(0, 0, 0, .03);
  border-top: 1px solid rgba(0, 0, 0, .125)
}

.card-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.card-header-tabs {
  margin-right: -.5rem;
  margin-bottom: -.5rem;
  margin-left: -.5rem;
  border-bottom: 0
}

.card-header-pills {
  margin-right: -.5rem;
  margin-left: -.5rem
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(.25rem - 1px)
}

.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px)
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(.25rem - 1px);
  border-bottom-left-radius: calc(.25rem - 1px)
}

.card-group>.card {
  margin-bottom: .75rem
}

@media (min-width:576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap
  }
  .card-group>.card {
    flex: 1 0 0%;
    margin-bottom: 0
  }
  .card-group>.card+.card {
    margin-left: 0;
    border-left: 0
  }
  .card-group>.card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
  }
  .card-group>.card:not(:last-child) .card-header,
  .card-group>.card:not(:last-child) .card-img-top {
    border-top-right-radius: 0
  }
  .card-group>.card:not(:last-child) .card-footer,
  .card-group>.card:not(:last-child) .card-img-bottom {
    border-bottom-right-radius: 0
  }
  .card-group>.card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
  }
  .card-group>.card:not(:first-child) .card-header,
  .card-group>.card:not(:first-child) .card-img-top {
    border-top-left-radius: 0
  }
  .card-group>.card:not(:first-child) .card-footer,
  .card-group>.card:not(:first-child) .card-img-bottom {
    border-bottom-left-radius: 0
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x))
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y)
}

.row-cols-auto>* {
  flex: 0 0 auto;
  width: auto
}

.row-cols-1>* {
  flex: 0 0 auto;
  width: 100%
}

.row-cols-2>* {
  flex: 0 0 auto;
  width: 50%
}

.row-cols-3>* {
  flex: 0 0 auto;
  width: 33.3333333333%
}

.row-cols-4>* {
  flex: 0 0 auto;
  width: 25%
}

.row-cols-5>* {
  flex: 0 0 auto;
  width: 20%
}

.row-cols-6>* {
  flex: 0 0 auto;
  width: 16.6666666667%
}

@media (min-width:576px) {
  .col-sm {
    flex: 1 0 0%
  }
  .row-cols-sm-auto>* {
    flex: 0 0 auto;
    width: auto
  }
  .row-cols-sm-1>* {
    flex: 0 0 auto;
    width: 100%
  }
  .row-cols-sm-2>* {
    flex: 0 0 auto;
    width: 50%
  }
  .row-cols-sm-3>* {
    flex: 0 0 auto;
    width: 33.3333333333%
  }
  .row-cols-sm-4>* {
    flex: 0 0 auto;
    width: 25%
  }
  .row-cols-sm-5>* {
    flex: 0 0 auto;
    width: 20%
  }
  .row-cols-sm-6>* {
    flex: 0 0 auto;
    width: 16.6666666667%
  }
}

@media (min-width:768px) {
  .col-md {
    flex: 1 0 0%
  }
  .row-cols-md-auto>* {
    flex: 0 0 auto;
    width: auto
  }
  .row-cols-md-1>* {
    flex: 0 0 auto;
    width: 100%
  }
  .row-cols-md-2>* {
    flex: 0 0 auto;
    width: 50%
  }
  .row-cols-md-3>* {
    flex: 0 0 auto;
    width: 33.3333333333%
  }
  .row-cols-md-4>* {
    flex: 0 0 auto;
    width: 25%
  }
  .row-cols-md-5>* {
    flex: 0 0 auto;
    width: 20%
  }
  .row-cols-md-6>* {
    flex: 0 0 auto;
    width: 16.6666666667%
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 47%
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%
  }
  .offset-md-0 {
    margin-left: 0
  }
  .offset-md-1 {
    margin-left: 8.33333333%
  }
  .offset-md-2 {
    margin-left: 16.66666667%
  }
  .offset-md-3 {
    margin-left: 25%
  }
  .offset-md-4 {
    margin-left: 33.33333333%
  }
  .offset-md-5 {
    margin-left: 41.66666667%
  }
  .offset-md-6 {
    margin-left: 50%
  }
  .offset-md-7 {
    margin-left: 58.33333333%
  }
  .offset-md-8 {
    margin-left: 66.66666667%
  }
  .offset-md-9 {
    margin-left: 75%
  }
  .offset-md-10 {
    margin-left: 83.33333333%
  }
  .offset-md-11 {
    margin-left: 91.66666667%
  }
  .g-md-0,
  .gx-md-0 {
    --bs-gutter-x: 0
  }
  .g-md-0,
  .gy-md-0 {
    --bs-gutter-y: 0
  }
  .g-md-1,
  .gx-md-1 {
    --bs-gutter-x: 0.25rem
  }
  .g-md-1,
  .gy-md-1 {
    --bs-gutter-y: 0.25rem
  }
  .g-md-2,
  .gx-md-2 {
    --bs-gutter-x: 0.5rem
  }
  .g-md-2,
  .gy-md-2 {
    --bs-gutter-y: 0.5rem
  }
  .g-md-3,
  .gx-md-3 {
    --bs-gutter-x: 1rem
  }
  .g-md-3,
  .gy-md-3 {
    --bs-gutter-y: 1rem
  }
  .g-md-4,
  .gx-md-4 {
    --bs-gutter-x: 1.5rem
  }
  .g-md-4,
  .gy-md-4 {
    --bs-gutter-y: 1.5rem
  }
  .g-md-5,
  .gx-md-5 {
    --bs-gutter-x: 3rem
  }
  .g-md-5,
  .gy-md-5 {
    --bs-gutter-y: 3rem
  }
}

@media (min-width:992px) {
  .col-lg {
    flex: 1 0 0%
  }
  .row-cols-lg-auto>* {
    flex: 0 0 auto;
    width: auto
  }
  .row-cols-lg-1>* {
    flex: 0 0 auto;
    width: 100%
  }
  .row-cols-lg-2>* {
    flex: 0 0 auto;
    width: 50%
  }
  .row-cols-lg-3>* {
    flex: 0 0 auto;
    width: 33.3333333333%
  }
  .row-cols-lg-4>* {
    flex: 0 0 auto;
    width: 25%
  }
  .row-cols-lg-5>* {
    flex: 0 0 auto;
    width: 20%
  }
  .row-cols-lg-6>* {
    flex: 0 0 auto;
    width: 16.6666666667%
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%
  }
  .offset-lg-0 {
    margin-left: 0
  }
  .offset-lg-1 {
    margin-left: 8.33333333%
  }
  .offset-lg-2 {
    margin-left: 16.66666667%
  }
  .offset-lg-3 {
    margin-left: 25%
  }
  .offset-lg-4 {
    margin-left: 33.33333333%
  }
  .offset-lg-5 {
    margin-left: 41.66666667%
  }
  .offset-lg-6 {
    margin-left: 50%
  }
  .offset-lg-7 {
    margin-left: 58.33333333%
  }
  .offset-lg-8 {
    margin-left: 66.66666667%
  }
  .offset-lg-9 {
    margin-left: 75%
  }
  .offset-lg-10 {
    margin-left: 83.33333333%
  }
  .offset-lg-11 {
    margin-left: 91.66666667%
  }
  .g-lg-0,
  .gx-lg-0 {
    --bs-gutter-x: 0
  }
  .g-lg-0,
  .gy-lg-0 {
    --bs-gutter-y: 0
  }
  .g-lg-1,
  .gx-lg-1 {
    --bs-gutter-x: 0.25rem
  }
  .g-lg-1,
  .gy-lg-1 {
    --bs-gutter-y: 0.25rem
  }
  .g-lg-2,
  .gx-lg-2 {
    --bs-gutter-x: 0.5rem
  }
  .g-lg-2,
  .gy-lg-2 {
    --bs-gutter-y: 0.5rem
  }
  .g-lg-3,
  .gx-lg-3 {
    --bs-gutter-x: 1rem
  }
  .g-lg-3,
  .gy-lg-3 {
    --bs-gutter-y: 1rem
  }
  .g-lg-4,
  .gx-lg-4 {
    --bs-gutter-x: 1.5rem
  }
  .g-lg-4,
  .gy-lg-4 {
    --bs-gutter-y: 1.5rem
  }
  .g-lg-5,
  .gx-lg-5 {
    --bs-gutter-x: 3rem
  }
  .g-lg-5,
  .gy-lg-5 {
    --bs-gutter-y: 3rem
  }
}

@media (min-width:1200px) {
  .col-xl {
    flex: 1 0 0%
  }
  .row-cols-xl-auto>* {
    flex: 0 0 auto;
    width: auto
  }
  .row-cols-xl-1>* {
    flex: 0 0 auto;
    width: 100%
  }
  .row-cols-xl-2>* {
    flex: 0 0 auto;
    width: 50%
  }
  .row-cols-xl-3>* {
    flex: 0 0 auto;
    width: 33.3333333333%
  }
  .row-cols-xl-4>* {
    flex: 0 0 auto;
    width: 25%
  }
  .row-cols-xl-5>* {
    flex: 0 0 auto;
    width: 20%
  }
  .row-cols-xl-6>* {
    flex: 0 0 auto;
    width: 16.6666666667%
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%
  }
  .offset-xl-0 {
    margin-left: 0
  }
  .offset-xl-1 {
    margin-left: 8.33333333%
  }
  .offset-xl-2 {
    margin-left: 16.66666667%
  }
  .offset-xl-3 {
    margin-left: 25%
  }
  .offset-xl-4 {
    margin-left: 33.33333333%
  }
  .offset-xl-5 {
    margin-left: 41.66666667%
  }
  .offset-xl-6 {
    margin-left: 50%
  }
  .offset-xl-7 {
    margin-left: 58.33333333%
  }
  .offset-xl-8 {
    margin-left: 66.66666667%
  }
  .offset-xl-9 {
    margin-left: 75%
  }
  .offset-xl-10 {
    margin-left: 83.33333333%
  }
  .offset-xl-11 {
    margin-left: 91.66666667%
  }
  .g-xl-0,
  .gx-xl-0 {
    --bs-gutter-x: 0
  }
  .g-xl-0,
  .gy-xl-0 {
    --bs-gutter-y: 0
  }
  .g-xl-1,
  .gx-xl-1 {
    --bs-gutter-x: 0.25rem
  }
  .g-xl-1,
  .gy-xl-1 {
    --bs-gutter-y: 0.25rem
  }
  .g-xl-2,
  .gx-xl-2 {
    --bs-gutter-x: 0.5rem
  }
  .g-xl-2,
  .gy-xl-2 {
    --bs-gutter-y: 0.5rem
  }
  .g-xl-3,
  .gx-xl-3 {
    --bs-gutter-x: 1rem
  }
  .g-xl-3,
  .gy-xl-3 {
    --bs-gutter-y: 1rem
  }
  .g-xl-4,
  .gx-xl-4 {
    --bs-gutter-x: 1.5rem
  }
  .g-xl-4,
  .gy-xl-4 {
    --bs-gutter-y: 1.5rem
  }
  .g-xl-5,
  .gx-xl-5 {
    --bs-gutter-x: 3rem
  }
  .g-xl-5,
  .gy-xl-5 {
    --bs-gutter-y: 3rem
  }
}

@media (min-width:1400px) {
  .col-xxl {
    flex: 1 0 0%
  }
  .row-cols-xxl-auto>* {
    flex: 0 0 auto;
    width: auto
  }
  .row-cols-xxl-1>* {
    flex: 0 0 auto;
    width: 100%
  }
  .row-cols-xxl-2>* {
    flex: 0 0 auto;
    width: 50%
  }
  .row-cols-xxl-3>* {
    flex: 0 0 auto;
    width: 33.3333333333%
  }
  .row-cols-xxl-4>* {
    flex: 0 0 auto;
    width: 25%
  }
  .row-cols-xxl-5>* {
    flex: 0 0 auto;
    width: 20%
  }
  .row-cols-xxl-6>* {
    flex: 0 0 auto;
    width: 16.6666666667%
  }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%
  }
  .offset-xxl-0 {
    margin-left: 0
  }
  .offset-xxl-1 {
    margin-left: 8.33333333%
  }
  .offset-xxl-2 {
    margin-left: 16.66666667%
  }
  .offset-xxl-3 {
    margin-left: 25%
  }
  .offset-xxl-4 {
    margin-left: 33.33333333%
  }
  .offset-xxl-5 {
    margin-left: 41.66666667%
  }
  .offset-xxl-6 {
    margin-left: 50%
  }
  .offset-xxl-7 {
    margin-left: 58.33333333%
  }
  .offset-xxl-8 {
    margin-left: 66.66666667%
  }
  .offset-xxl-9 {
    margin-left: 75%
  }
  .offset-xxl-10 {
    margin-left: 83.33333333%
  }
  .offset-xxl-11 {
    margin-left: 91.66666667%
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --bs-gutter-x: 0
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --bs-gutter-y: 0
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --bs-gutter-x: 0.25rem
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --bs-gutter-y: 0.25rem
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --bs-gutter-x: 0.5rem
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --bs-gutter-y: 0.5rem
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --bs-gutter-x: 1rem
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --bs-gutter-y: 1rem
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --bs-gutter-x: 1.5rem
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --bs-gutter-y: 1.5rem
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --bs-gutter-x: 3rem
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --bs-gutter-y: 3rem
  }
}

.col {
  flex: 1 0 0%
}

.col-auto {
  flex: 0 0 auto;
  width: auto
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%
}

.col-3 {
  flex: 0 0 auto;
  width: 25%
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%
}

.col-6 {
  flex: 0 0 48%;
  width: 48%
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%
}

.col-9 {
  flex: 0 0 auto;
  width: 75%
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%
}

.col-12 {
  flex: 0 0 auto;
  width: 100%
}

.col-md-6 {
  flex: 0 0 47%;
  width: 47%;
}

.mo-container {
  width: 96%!important;
}

div.sticky {
  position: -webkit-sticky!important;
  position: sticky;
  top: 0;
  font-size: 20px;
  z-index: 10;
}

.mo-mapping-floating{
  width: 110%;
}

.mo_oauth_button_disabled{
  pointer-events: none !important;
}

.mo-bottom-corner{
  position: fixed;
  width: 5em;
  height: 5em;
  bottom: 2em;
  right: 2em;
  border-radius: 50px;
  border: black solid;
  text-align: center;
  box-shadow: 5px 5px 5px #999;
  z-index: 100;
}

table.mo_register_login_table th{
 padding: 0.3rem 0.5rem;
}

table.mo_register_login_table td{
 padding: 0.3rem 0.5rem;
}


/* Css for the tooltip*/

.mo-oauth--help {
  display: inline-block;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  margin: 0 0.3em;
  text-align: center;
  vertical-align: baseline;
  color: #fff;
  border: 2px solid #bbb;
  border-radius: 50%;
  background: #bbb;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.mo-oauth--help:focus,
.mo-oauth--help:active,
.mo-oauth--help:hover {
  cursor: help;
  color: #fff;
  border: 2px solid #0074bd;
  background: #0074bd;
}

.mo-oauth--help--title {
  margin-bottom: 0.2em;
  font-size: 1.1em;
  font-weight: bold;
}

.mo-oauth--help--content {
  font-weight: normal;
}

.mo-oauth--help--content a:link,
.mo-oauth--help--content a:visited,
.mo-oauth--help--content a:hover,
.mo-oauth--help--content a:active {
  color: #9cf;
}

.mo-oauth--help--title {
  margin-bottom: 0.2em;
  font-size: 1.1em;
  font-weight: bold;
}
